
.title {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:0 1rem;
    background-color: var(--elements);
}
.title > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    font-weight: 800;
    color: var(--text)
}

.themeButton {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: var(--text)
}

 /* Media Queries */
@media (min-width: 45em) {
    .title {
        padding: 0 3rem;
    }
}